<div class="overflow-x-auto mb-4">
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <th>Credential Type</th>
        <th>Username</th>
        <th>Access Token</th>
        <th>Last Used</th>
        <th>Used By</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% current_user.providers.non_sso.each do |provider| %>
        <% project_credential_providers = ProjectCredentialProvider.where(provider:).all %>
        <tr>
          <td>
            <%= provider.provider.titleize %>
            <% if provider.registry_url.present? %>
              <br />
              <span class="text-gray-500 text-sm">
                <%= provider.registry_url %>
              </span>
            <% end %>
          </td>
          <td>
            <%= render "providers/show", provider: %>
          </td>
          <td>
            <% if provider.access_token %>
              <%= provider.abbreviated_access_token %>
            <% else %>
              <span class="text-gray-500">
                N/A
              </span>
            <% end %>
          </td>
          <td>
            <%= (provider.last_used_at.strftime("%b %d, %Y") if provider.last_used_at) || "Never" %>
          </td>
          <td>
            <% max_display = ProvidersController::MAX_DISPLAYED_PROJECTS %>
            <% remaining = project_credential_providers.size - max_display %>
            <% display_count = remaining > 1 ? max_display : project_credential_providers.size %>
            <% project_credential_providers.first(display_count).each_with_index do |project_credential_provider, index| %>
              <%= link_to project_credential_provider.project.name, project_path(project_credential_provider.project), class: "hover:underline" %><%= ", " if index < display_count - 1 %>
            <% end %>
            <% if remaining > 1 %>
              <span class="text-gray-500">and <%= remaining %> others</span>
            <% end %>
          </td>
          <td>
            <% if project_credential_providers.empty? %>
              <%= link_to "Delete", provider, method: :delete, class: "btn btn-error btn-sm" %>
            <% else %>
              <%= link_to "Delete", "#", class: "btn btn-error btn-sm", disabled: true %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
