<%= turbo_frame_tag("service_#{service.id}", data: { turbo_tabs_target: "content" }) do %>
  <div class="my-6">
    <% if tab == "overview" %>
      <%= render "projects/services/overview", service:, tab: %>
    <% elsif tab == "cron-jobs" %>
      <%= render "projects/services/cron_job", service:, tab: %>
    <% elsif tab == "networking" %>
      <%= render "projects/services/networking", service:, tab: %>
    <% elsif tab == "advanced" %>
      <%= render "projects/services/advanced", service:, tab: %>
    <% end %>
  </div>
<% end %>