<%= form_with model: api_token do |form| %>
  <%= render "shared/error_messages", resource: form.object %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "input input-bordered w-full max-w-sm", required: true, placeholder: "my-api-token" %>
  </div>
  <%= render "api_tokens/expiry_date_field", form: form %>

  <div class="form-footer">
    <%= form.submit "Save", class: "btn btn-primary" %>
    <%= link_to "Cancel", api_tokens_path, class: "btn btn-outline" %>
  </div>
<% end %>
