<div data-controller="stack-manager--url-input">
  <div class="form-group">
    <%= form.label :provider_url, "Portainer URL" %>
    <%= form.text_field(
      :provider_url,
      name: "stack_manager[provider_url]",
      class: "input input-bordered w-full",
      placeholder: "http://portainer.portainer.svc.cluster.local:9000",
      data: { "stack-manager--url-input-target": "urlInput", action: "blur->stack-manager--url-input#verifyUrl" },
    ) %>
  </div>

  <div class="form-group">
    <%= form.label :access_token, "Account Access Token" %>
    <%= form.text_field(
      :access_token,
      name: "stack_manager[access_token]",
      placeholder: "Enter your access token",
      class: "input input-bordered w-full",
      required: true,
      data: { "stack-manager--url-input-target": "accessTokenInput", action: "blur->stack-manager--url-input#verifyUrl" },
    ) %>
    <div>
      <label class="label" style="display: flex" for="access_token">
        <span class="label-text-alt">
          This access token is used for all members of the account, to perform asynchronous Git deployments.
        </span>
        <span class="label-text-alt" class="hidden" data-stack-manager--url-input-target="accessTokenHelp">
          <a class="link link-primary" target="_blank" href="#">Get your access token in Portainer →</a>
        </span>
      </label>
    </div>
  </div>
  <div class="label justify-end">
    <span class="label-text-alt">
      <%= render "accounts/stack_managers/url_connection_statuses" %>
    </span>
  </div>

  <div class="form-control">
    <%= form.label :enable_role_based_access_control, class: "label cursor-pointer justify-start gap-2" do %>
      <%= form.check_box :enable_role_based_access_control, checked: true, class: "checkbox" %>
      <span class="label-text">Enable role based access control (recommended)</span>
    <% end %>
    <div class="label">
      <span class="label-text-alt text-gray-500">
        If enabled, any access to the cluster will be done through the user's Portainer session, and the access token above will only be used for async Git deployments.
      </span>
    </div>
  </div>

  <% if local_assigns[:show_personal_token] %>
    <div class="mt-4">
      <div data-controller="expandable-optional-input">
        <div>
          <a data-action="expandable-optional-input#show" class="btn btn-ghost">
            + Add personal access token
          </a>
        </div>
        <div data-expandable-optional-input-target="container">
          <div class="form-group">
            <%= form.label :personal_access_token, "Personal Access Token" %>
            <%= form.text_field(
              :personal_access_token,
              name: "user[personal_access_token]",
              placeholder: "Enter your personal access token",
              class: "input input-bordered w-full",
            ) %>
          </div>
        </div>
      </div>
      <div class="label">
        <span class="label-text-alt text-gray-500">
          If not provided, the account's access token will be used for your Portainer access.
        </span>
      </div>
    </div>
  <% end %>

</div>