<div class="overflow-auto">
  <table class="table mt-2 rounded-box" id="shop_table" data-component="table">
    <thead>
      <tr>
        <th>
          <span class="text-sm font-medium text-base-content/80">Name</span>
        </th>
        <th>
          <span class="text-sm font-medium text-base-content/80">Email</span>
        </th>
        <th>
          <span class="text-sm font-medium text-base-content/80">Role</span>
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% account_users.each do |account_user| %>
        <tr class="hover:bg-base-200/40">
          <td>
            <div class="font-medium"><%= account_user.user.name %></div>
          </td>
          <td>
            <div class="font-medium"><%= account_user.user.email %></div>
          </td>
          <td>
            <% if account_user.owner? %>
              <span class="badge badge-primary">Owner</span>
            <% elsif current_account_user.admin_or_owner? %>
              <%= form_with model: account_user, url: account_user_path(account_user), method: :patch, local: true do |f| %>
                <%= f.select :role, [["Admin", "admin"], ["Member", "member"]], {}, class: "select select-bordered !select-sm", onchange: "this.form.submit()" %>
              <% end %>
            <% else %>
              <span class="badge"><%= account_user.role.capitalize %></span>
            <% end %>
          </td>
          <td>
            <% if current_account_user.admin_or_owner? && !account_user.owner? %>
              <%= button_to account_user_path(account_user), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-ghost btn-sm btn-square" do %>
                <iconify-icon icon="lucide:trash" height="18" class="text-error"></iconify-icon>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
                   
